@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
.App {
  font-family: "Quicksand", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #4776e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4776e6,
    #8e54e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4776e6,
    #8e54e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.header h1 {
  color: white;
}
.row:after {
  clear: both;
  content: "";
  display: table;
}
.square {
  border: none;
  border-bottom: 3px solid white;
  float: left;
  font-size: 50px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  background: transparent;
  color: white;
}

button:hover {
  cursor: pointer;
}

.middle {
  border-left: 3px solid white;
  border-right: 3px solid white;
}
.bottom {
  border-bottom: none;
}
.restart {
  margin-top: 30px;
  text-align: center;
}
.restart button,
.startPlaying button {
  font-family: "Quicksand", sans-serif;
  border: none;
  color: black;
  padding: 10px 15px;
  background-color: white;
  font-size: 25px;
  border: 2px solid white;
}

.restart button:hover,
.startPlaying button:hover {
  color: #fff;
  background-color: transparent;
  transition-duration: 0.3s;
}
.startPlaying {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: -webkit-linear-gradient(
    to right,
    #4776e6,
    #8e54e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4776e6,
    #8e54e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
